.main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('../Images/Album\ 1.png');
    background-repeat: no-repeat;
    background-size: 1525px;
}

.main-nav  ul{
    display: flex;
    flex-direction:row ;
    align-items: center;
    gap: 10px;
    color: white;
    list-style-type: none;

}

a{
    text-decoration: none;
    color: white;
}

.band-name{
    color: white;
}