.shop-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span{
    text-align: center;
    margin: 3px;
}
button{
    background-color: chartreuse;
    color: white;
    margin: 3px;
}
.shop-item-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


